<h1 class="display-4 text-center pt-5">TodoList</h1>

<p class="fs-4 container d-flex"><%= link_to "+ Add Todo", new_todo_path , {class: "text-decoration-none text-success border border-secondary px-2 py-2 rounded"} %></p>
<div class="d-flex flex-wrap  py-2 px-5 ">
<% if @todos.length > 0 %>
<% @todos.each do |todo| %>
<div class="card w-25 my-3 mx-5">
  <div class="card-header">
    Todo #<%= todo.id %>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= todo.title %></h5>
    <%# <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> %>
    <br/>
    
     <div class="d-flex">
    <a>
    <%= link_to "Edit" , edit_todo_path(todo) , method: :get , :class=>"btn btn-success mx-1" %> 
    </a>
    <a>
    <%= button_to "Delete" , todo_path(todo) , method: :delete , :class=>"btn btn-danger mx-1", :data => {:confirm => 'Are you sure?'} %> 
    </a>
     </div>
     
  </div>
</div>
<%end%>
<% else %>
<h4 class="display-6 text-center mx-auto">No Todos Available!!</h4>
<% end %>
 

</div>



